@font-face {
  font-family: Poppins;
  src: url(../asset/fonts/Poppins-Regular.ttf);
}
   
body {
  margin: 0;
  padding: 0;
}
/* debut nav bar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ececec;
  height: 90px;
  align-items: center;
}
#liens{
    text-decoration: none;
    padding-right: 10%;
    color: #eb8f02;
}
.logo {
  font-size: 50px;
  margin-left: 3%;
  margin-top: 1%;
}
.onglet ul li {
  font-size: 30px;
}
.onglet ul {
  display: flex;
  list-style: none;
  margin-right: 120px;
  margin-top: 9%;
}
span {
  color: #eb8f02;
}
/* fin nav bar */

/* debut section accueil */
.accueil {
  display: flex;
  justify-content: space-between;
}
.text_accueil {
  margin-top: 8%;
  margin-left: 3%;
}
.text_accueil p {
  margin: 0;
  font-size: 50px;
}
#soustitreaccueil{
    font-size: 30px;
}
.img {
  height: 600px;
}
.btn {
  border: none;
  background-color: #eb8f02;
  color: #ffff;
  padding: 10px 35px;
  border-radius: 6%;
}
/* fin section accueill */
/* debut section nos produits */
.en-tete {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 2%;
}
#img_Rectangle {
  height: 5px;
  width: 20%;
  margin-top: 3%;
  margin-left: 1%;
}
#btn_voirplus {
  margin-top: 1%;
  margin-left: 2%;
}
h1 {
  font-size: 50px;
  margin: 0;
}
#monHr {
  display: block;
  margin: 25px;
}
.btn_voirplus {
  cursor: pointer;
  border: none;
  background-color: #eb8f02;
  color: #ffff;
  padding: 10px 35px;
  margin-top: 0%;
  border-radius: 6%;
}
.btn_voirplus:hover {
  background-color: #ffa41b;
}
.nos_produits {
  background-color: #ececec;
  width: 100%;
  padding-bottom: 5%;
}
.container_produits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-left: 5%;
}
.Produits {
  margin-top: 3%;
  width: 70%;
  background-color: #ffffff;
  border-radius: 3%;
  padding: 30px 10px;
}
#img {
  height: 250px;
}
.Produits p {
  text-align: center;
  width: 250px;
}
#btn_produits {
  cursor: pointer;
  border: none;
  background-color: #eb8f02;
  color: #ffff;
  padding: 10px 35px;
  border-radius: 6%;
  text-align: center;
  margin-left: 15%;
}
#btn_produits:hover {
  background-color: #fb9e13;
}
#titre {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
#description {
  font-weight: lighter;
}
#prix {
  font-weight: bold;
}
/* fin section nos produits */

/* debut footer */
footer {
    margin-top: 72px;
    background-color: black;
    color: white;
    width: 100%;
    height: 114px;
}

footer .logos {
    text-align: center;
    font-size: 27px;
    line-height: 1;
    margin-left: -10%;
}

footer span {
    color: #EB8F02;
}



.logo {
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    padding: 41px 15px;
}

.contactphone {
    align-items: center;
    display: flex;
    margin-left: 3%;
}

.contact {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 1%;
    margin-left: -4%;
}

.contact1 {
    align-self: center;
    display: flex;
    margin-left: 10px;
}

.contactlogo img {
    width: 25px;
    margin-left: -17%;
}

.contact .contact1 span {
    color: white;
    margin: 15px;
    font-size: 25px;
}

.contact .contact2 span {
    color: white;
    font-size: 25px;

    margin: 15px;
}

.icone img {
    width: 25px;
    margin-left: 15px;
}

.contactphone .contactlogo {
    margin-left: 1%;

}
/* fin footer */
