@font-face {
  font-family: Poppins;
  src: url(../asset/fonts/Poppins-Regular.ttf);
}
   
body {
  margin: 0;
  padding: 0;
}
/* debut nav bar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ececec;
  height: 90px;
  align-items: center;
}
#liens{
  text-decoration: none;
  padding-right: 10%;
  color: #eb8f02;
}
.logo {
  font-size: 50px;
  margin-left: 3%;
  margin-top: 1%;
}
.onglet ul li {
  padding-right: 10%;
  font-size: 30px;
}
.onglet ul {
  display: flex;
  list-style: none;
  margin-right: 120px;
  margin-top: 9%;
  color: #eb8f02;
}
span {
  color: #eb8f02;
}
/* fin nav bar */



.container_cart {
  width: 100%;
  height: 100vh;
}
.container_cart h1{
  text-align: initial;
  padding-left: 278px;
}
.cart_content {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 80%;
}
.cart_content:nth-child(2) {
  width: 80%;
}
.cart_picture {
  background-color: #f9f9f9;
  width: 30%;
  padding-top: 20px;
  margin: auto;
}
.cart_picture img {
  width: 100%;
}
.cart_layout {
  /* padding-top: 80px; */
  /* padding-left:20px; */
}

.name_products {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
span img{
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-left: 15px;
}
.category_products {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}
.price_products {
  color: #eb8f02;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}
.quantite_product {
  padding-top: 10px;
}
.quantite_product input {
  padding: 5px 10px;
  width: 30px;
  border: 1px solid #888888;
  background-color: #fff;
  color: #eb8f02;
  font-weight: bold;
  font-size: 18px;
  border-top-right-radius: none;
  border-top-right-radius: none;

  /* border-right: none; */
}
.quantite_product input:nth-child(3){
    border: none;
}
input:active {
  color: #000;
}
input:nth-child(3) {
  color: #000;
  font-size: 18px;
}
label {
  font-weight: bold;
  font-size: 18px;
}
.sous_total {
  font-weight: bold;
  padding-top: 22px;
  font-size: 18px;
}
.total {
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
}
.sous_total span {
  font-weight: bold;
  color: #eb8f02;
  font-size: 16px;
  padding-left: 8px;
}
.total span {
  font-weight: bold;
  color: #eb8f02;
  font-size: 20px;
  padding-left: 8px;
}
.btn_commandez {
  padding-top: 30px;
}
.btn_commandez input {
  width: 40%;
  background-color: #eb8f02;
  border-radius: 5px;
  border: none;
  color: #ffff;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  transition: 1.1s;
  width: 100%;
}
.btn_commandez input:hover {
  background-color: #eb8f02;
    opacity: 0.8;
}

/* footer */


footer {
  margin-top: 72px;
  background-color: black;
  color: white;
  width: 100%;
  height: 114px;
}

footer .logos {
  text-align: center;
  font-size: 27px;
  line-height: 1;
  margin-left: -10%;
}

footer span {
  color: #EB8F02;
}



.logo {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 41px 15px;
}

.contactphone {
  align-items: center;
  display: flex;
  margin-left: 3%;
}

.contact {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-right: 1%;
  margin-left: -4%;
}

.contact1 {
  align-self: center;
  display: flex;
  margin-left: 10px;
}

.contactlogo img {
  width: 25px;
  margin-left: -17%;
}

.contact .contact1 span {
  color: white;
  margin: 15px;
  font-size: 25px;
}

.contact .contact2 span {
  color: white;
  font-size: 25px;

  margin: 15px;
}

.icone img {
  width: 25px;
  margin-left: 15px;
}

.contactphone .contactlogo {
  margin-left: 1%;

}