* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
}

/* debut nav bar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    height: 90px;
}

.logo {
    font-size: 50px;
    margin-left: 3%;
    margin-top: 1%;
}

.onglet ul li {
    padding-right: 10%;
    font-size: 30px;
}

.onglet ul {
    display: flex;
    list-style: none;
    margin-right: 120px;
    margin-top: 9%;
    color: #eb8f02;
}

span {
    color: #eb8f02;
}

/* fin nav bar */

/* recherche */

.search {
    width: 100%;
    margin: 50px;
    text-align: center;

}


.search input {
    padding: 15px 0;
    border-radius: 15px;
    width: 59%;

}

.search button {
    padding: 15px 0;
    width: 5%;
    border-radius: 15px;
    background-color: #EB8F02;
    border: aliceblue;
    color: white;


}

.categorie {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 96%;
}

.categorie .categorielist {
    margin: 1%;
}

.categorielist button {
    padding: 30% 100%;
    border-radius: 12px;
    background-color: #EB8F02;
    border: aliceblue;
    color: white;

}


.tousProduits {
    width: 100%;
    margin: 13px 33px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: blueviolet; */
}

.produits {
    text-align: center;
    width: 58%;
    box-shadow: 0px 4px 4px 25px #00000005;
    background: #f9f9f9;
    margin-top: 60px;
    margin-left: 110px;


}

.produits .image img {
    width: 75%;
}

.produits .p1 {
    font-weight: bold;
    margin: 8px;
}

.produits .p2 {
    font-style: italic;
    color: #000000;
    margin: 8px 0;
    ;
}

.produits .p3 {
    color: #EB8F02;
    margin: 8px 0;
}

.produits .btn button {
    background-color: #EB8F02;
    color: white;
    padding: 13px 20px;
    margin: 15px 0;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    border: aliceblue;
}


/* footer */


footer {
    margin-top: 72px;
    background-color: black;
    color: white;
    width: 100%;
    height: 114px;
}

footer .logos {
    text-align: center;
    font-size: 27px;
    line-height: 1;
    margin-left: -10%;
}

footer span {
    color: #EB8F02;
}



.logo {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 41px 15px;
}

.contactphone {
    align-items: center;
    display: flex;
    margin-left: 3%;
}

.contact {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 1%;
    margin-left: -4%;
}

.contact1 {
    align-self: center;
    display: flex;
    margin-left: 10px;
}

.contactlogo img {
    width: 25px;
    margin-left: -17%;
}

.contact .contact1 span {
    color: white;
    margin: 15px;
    font-size: 25px;
}

.contact .contact2 span {
    color: white;
    font-size: 25px;

    margin: 15px;
}

.icone img {
    width: 25px;
    margin-left: 15px;
}

.contactphone .contactlogo {
    margin-left: 1%;

}